# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environments
.venv/
env/
venv/
.env

# Editor/IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and temporary files
# *.log
# tmp/

# Datasets
datasets/
data/